version: "3.9"

services:

  django:
    build: .
    restart: always
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"

  nginx:
    image: nginx:latest
    restart: always
    depends_on:
      - django
    ports:
      - "80:80"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  static_volume:
  media_volume:
